body {
  background: black url(Images/DBbackground2.jpg) no-repeat fixed center;
  font-family: 'Open Sans', sans-serif;
  color : #081019;
  text-decoration: none;
}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 15px;
  line-height: 20px;
}

br {
  line-height: 5px;
}

#text-center {
text-align: center;
}

.div-color {
  background-color:  #565c63;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #1c1e21;
  margin: 30px 25%;
  padding: 20px;
}

.music-center {
  text-align: center;
}


.title {
  font-weight: 700;
}

.column-size {
  padding : 20px;
  margin : auto;
}

a {
  text-decoration: none;
  color :  #081019;
}

a:hover {
  text-decoration: none;
  font-weight: 700;
  box-shadow:  3px 3px 5px  #081019;
}

.icones {
  width: 500px;
  text-align: center;
  color:  #081019;
  font-weight: 700;
}

#circle {
  border-radius: 50%;
  box-shadow: 3px 3px 5px #1c1e21;
  margin: auto;
}

.button {
  color: #081019;
  padding : 5px;
  border-radius: 10px;
  margin-top: 10px;
  font-style: italic;
}

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  font-size: 20px;
  font-weight: 700;
}

#page-content {
  margin-left: 300px;
}

#sidebar img {
  border-radius: 20%;
  box-shadow: 3px 3px 5px #1c1e21;
  float: left;
}

#sidebar h3 {
  text-align: center;
}

#sidebar a:hover {
  color : white;
  box-shadow: none
}

tr {
  margin-top : 10px ;
   margin-bottom : 10px ;
}
